<div class="alert alert-block alert-info">
<ul>
<li>Course: Machine Learning</li>
<li>Project: 01</li>
<li>Team members</li>
<li>Mauro Travieso Pena</li>
<li>Quoc Huy Luong</li>
<li>Ngoc Bao Tran</li>
<ul>
</div>

# Classification with AutoML

<div class="alert alert-block alert-info">
In this experiment, we use decision tree to classify the anmie dataset.
<ol>
<li>Clean and Transform Data</li>
<li>Split Training/Testing dataset</li>
<li>Run the model with 3 kind of data: Original data, Normalized data and PCA data</li>
<li>Turning the model based on the learning curve and validation curve
<ol><b>Learning Curve</b>
<li>Using scikit-learn method
#https://scikit-learn.org/stable/modules/learning_curve.html</li>
<li>Our method (we did it, because we want to know how learning curve method works)</li>
</ol>
<ol><b>Validation Curve</b>
<li>Using scikit-learn method
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.validation_curve.html#sklearn.model_selection.validation_curve
<li>Our method (we did it, because we want to know how Validation curve method works)</li>
</ol>
</li>
<li>Grid search CV</li>
<li>Final Evaluation</li>
</ol> 
</div>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import import_ipynb 
import functions as myLib
import myPlot as myPlotLib
#pip install -r requirements.txt

importing Jupyter notebook from functions.ipynb
importing Jupyter notebook from myPlot.ipynb

# Load data from files

In [2]:
RawData = pd.read_csv('../data/anime.csv')

#### Clean and Transform Data

In [3]:
Cleaned_Data = myLib.myCleanAndTransformData(RawData)
Y_Data = Cleaned_Data['Class']
X_Data = Cleaned_Data.drop(columns=['Class'])

#### Normalize  Data

In [4]:
Normalized_Data = myLib.myNormalize(X_Data)

#### PCA

In [5]:
n_components=10
PCA_Data = myLib.myPCA(Normalized_Data,n_components)
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.311566,0.786507,-0.420807,0.005784,-0.078100,-0.048492,-0.066283,0.009253,-0.073527,-0.031201
1,-0.284842,0.763991,-0.412013,-0.011005,-0.110041,-0.087323,-0.096905,0.053253,-0.182435,-0.025978
2,-0.284838,0.767909,-0.395560,-0.007331,-0.091574,-0.059492,-0.063885,0.037545,-0.086205,-0.022750
3,-0.291599,0.777172,-0.408211,0.002415,-0.080441,-0.052488,-0.064178,0.039493,-0.054362,-0.021638
4,0.732145,-0.153155,-0.102200,-0.458245,0.816863,0.046222,0.015006,-0.065117,0.013757,-0.003932

####----------------------------------------------------------------
# AutoML Classification 
####----------------------------------------------------------------

In [6]:
Y_Data.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [7]:
X_Data.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
0,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,64,793665,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
Normalized_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.034673,0.782769,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.311566,0.786507,-0.420807,0.005784,-0.078100,-0.048492,-0.066283,0.009253,-0.073527,-0.031201
1,-0.284842,0.763991,-0.412013,-0.011005,-0.110041,-0.087323,-0.096905,0.053253,-0.182435,-0.025978
2,-0.284838,0.767909,-0.395560,-0.007331,-0.091574,-0.059492,-0.063885,0.037545,-0.086205,-0.022750
3,-0.291599,0.777172,-0.408211,0.002415,-0.080441,-0.052488,-0.064178,0.039493,-0.054362,-0.021638
4,0.732145,-0.153155,-0.102200,-0.458245,0.816863,0.046222,0.015006,-0.065117,0.013757,-0.003932

####----------------------------------------------------------------
#### Split Original Data
####----------------------------------------------------------------

In [10]:
X_train, X_test, y_train, y_test  = myLib.mySplitData(X_Data,Y_Data,0.33,42)

X_train.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
32729,2,132,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24946,2,7051,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8676,50,65896,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13244,52,67936,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29384,15,49,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_test.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
22373,10,3331,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10508,12,28423,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11570,1,5078,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22262,1,390,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
734,15,482268,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [ ]:
y_test.head()

import sklearn.model_selection
import sklearn.datasets
import sklearn.metrics
import autosklearn.classification

automl = autosklearn.classification.AutoSklearnClassifier(
    time_left_for_this_task=120,
    per_run_time_limit=30,
    tmp_folder='/tmp/autosklearn_cv1',
    output_folder='/tmp/autosklearn_cv1_out',
    delete_tmp_folder_after_terminate=True,
    resampling_strategy='cv',
    resampling_strategy_arguments={'folds': 5},
)

automl.fit(X_train, y_train)
# During fit(), models are fit on individual cross-validation folds. To use
# all available data, we call refit() which trains all models in the
# final ensemble on the whole dataset.
#automl.refit(X_train.copy(), y_train.copy())

print(automl.show_models())

predictions = automl.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, predictions))

/Users/tranngocbao/.conda/envs/Project01/lib/python3.7/site-packages/pyparsing.py:2927: FutureWarning: Possible set intersection at position 3
  self.re = re.compile( self.reString )
/Users/tranngocbao/.conda/envs/Project01/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

[WARNING] [2019-07-28 21:04:11,404:EnsembleBuilder(1):1040c125812047c7963e0181eadc8260] No models better than random - using Dummy Score!
[WARNING] [2019-07-28 21:04:11,420:EnsembleBuilder(1):1040c125812047c7963e0181eadc8260] No models better than random - using Dummy Score!